<a href="https://colab.research.google.com/github/SyedImranML/Machine-Learning/blob/main/4_7_How_to_Handle_imbalanced_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<b> 4.7. How to Handle imbalanced Dataset | Data Pre-Processing  </b>

<b> Imbalanced Dataset </b>

A dataset with an unequal class distribution

- Say we have diabetes dataset, this diabetes dataset contains datapoints of 
  patients who have diabetes and who doesn't have diabetes.
- If the dataset is imbalanced it will contain more datapoints for diabetes 
  patients and the number of datapoints for non diabetes is very less.
- Say for example the number of datapoints of diabetes patients can be 1000 and 
  for non diabetes patient it can only 100 datapoints. 
- So we have distribution of 1000 in one class and 100 is another class.
- So this is an example of imbalance of dataset.
- We  can't feed this dataset to our machine learning model it will make our 
  prediction very bad.

In [1]:
# importing the dependencies

import numpy as np
import pandas as pd

In [2]:
# Loading the dataset to pandas DataFrame
credit_card_data = pd.read_csv('/content/credit_data.csv')

In [3]:
# first 5 rows of the dataframe

credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [4]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
51586,45023,-2.943382,-2.332451,2.568959,0.747114,2.083550,-1.319267,-1.837967,0.421285,0.347715,...,-0.013848,-0.091317,-0.268974,0.069693,0.202920,0.356930,-0.006093,0.268288,26.24,0.0
51587,45024,-1.278283,-3.726046,-0.902718,2.796542,-1.750987,0.199763,1.223412,-0.106145,0.793279,...,0.664178,-0.592258,-1.141974,0.322687,0.081328,-0.354449,-0.150956,0.269036,1233.16,0.0
51588,45024,-0.852261,0.886192,-0.378032,-1.142044,1.880941,3.505875,-0.403582,1.365218,-0.369193,...,0.091829,0.066337,-0.055970,1.027545,-0.327900,0.255778,0.132317,0.133329,28.98,0.0
51589,45024,-0.447740,0.775759,1.586053,0.227702,-0.270962,-0.539013,0.488655,0.071070,0.308739,...,-0.033903,0.202157,-0.180777,0.424592,-0.172455,0.365861,0.353120,0.198239,3.99,0.0
51590,45026,1.042380,-1.096464,0.234271,-0.615254,-1.243107,-0.714834,-0.433026,-0.084918,-0.946072,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# distribution of the two class

credit_card_data['Class'].value_counts()

0.0    51440
1.0      150
Name: Class, dtype: int64

This is highly imbalanced Dataset

0 --> Legit Transactions

1 --> Fraudulent Transactions

Legitimate means 'correct or acceptable according to a law or rule'.

A fraudulent transaction is the unauthorized use of an individual's accounts

In [7]:
# Separating the legit and fraudulent Tansaction

legit = credit_card_data[credit_card_data.Class == 0.0]
fraud = credit_card_data[credit_card_data.Class == 1.0]

In [8]:
print(legit.shape)
print(fraud.shape)

(51440, 31)
(150, 31)

we are going to implement a technique called under-sampling

<b>Under-sampling </b>

Build a sample dataset containing similar distribution of legit and fraudulent transaction

Number of Fraudulent transaction --> 150

In [10]:
legit_sample = legit.sample(n=150)   # Here n is the number of datapoints we want

In [11]:
print(legit_sample.shape)

(150, 31)

In [12]:
print(legit_sample)

        Time        V1        V2         V3        V4        V5        V6  \
33737  37364 -0.999682  1.538412   0.509502 -0.485314  0.540350 -0.050640
47915  43414  1.369717 -1.157116   0.611116 -1.171388 -1.609425 -0.535265
12938  22731 -9.260584  7.452729 -13.748652  5.940094 -8.174739 -3.648539
31657  36454  0.955576 -0.308161   1.188044  1.475890 -0.860503  0.327066
4726    4158 -0.959084  1.504439   1.180137  1.034805 -0.002799 -0.486044
...      ...       ...       ...        ...       ...       ...       ...
39289  39774 -1.064511  0.794941   2.230122  1.005573 -0.980626  0.490387
1922    1477 -4.481163  2.353595   2.340311 -0.921434  0.124872  0.507164
15589  26982  1.460123 -1.268057   0.447235 -1.661999 -1.272985  0.439711
46020  42606 -1.448037 -0.101255   0.749385 -2.505307 -1.005035 -0.145189
32387  36776  1.253145 -0.859698   0.955939 -0.772346 -1.345816  0.049771

              V7        V8        V9  ...       V21       V22       V23  \
33737   0.552809  0.174917 -0.013572  ... -0.379383 -0.851784 -0.135866
47915  -0.953140 -0.108700 -1.898929  ... -0.284316 -0.345213  0.016170
12938 -10.960261  6.456649 -3.096200  ...  1.536311 -0.740592 -0.239052
31657  -0.536871  0.219292  0.824802  ...  0.010574  0.086572 -0.039623
4726    0.384451 -0.207589  1.150690  ... -0.426137 -0.834602  0.085391
...          ...       ...       ...  ...       ...       ...       ...
39289  -0.209783  0.787381 -0.062221  ...  0.140114  0.257220 -0.038387
1922    1.733120 -2.881356  4.535725  ... -0.181425  0.029525 -0.392382
15589  -1.496378  0.238965 -1.685716  ... -0.041302  0.250140 -0.081156
46020  -1.392457  0.942573 -2.329500  ...  0.068939  0.403324 -0.266099
32387  -1.224915  0.251971 -0.565179  ...  0.464233  1.222178 -0.093952

            V24       V25       V26       V27       V28  Amount  Class
33737 -0.898324  0.124983  0.140200  0.549266  0.281379    5.36    0.0
47915  0.543702  0.402550 -0.279626  0.034148  0.018666   50.56    0.0
12938  0.004600  0.449751 -0.286287  1.907938  0.604519   89.99    0.0
31657  0.085425  0.304783 -0.371776  0.072390  0.048434   87.00    0.0
4726  -0.085383 -0.398492  0.279005  0.059574  0.255594   11.46    0.0
...         ...       ...       ...       ...       ...     ...    ...
39289  0.041616  0.147294 -0.232063 -0.011321  0.028848   68.29    0.0
1922   0.018946 -0.177339 -0.262410 -5.336289 -1.406064   19.69    0.0
15589 -0.837395  0.319606 -0.037540  0.057512  0.004496   17.40    0.0
46020 -0.752584 -0.067117 -0.195799  0.086661 -0.052618    7.80    0.0
32387  0.044339  0.295744 -0.036486  0.042645  0.013957   29.95    0.0

[150 rows x 31 columns]

In [13]:
print(fraud)

        Time        V1        V2        V3        V4        V5        V6  \
541      406 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623      472 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823
4920    4462 -2.303350  1.759247 -0.359745  2.330243 -0.821628 -0.075788
6108    6986 -4.397974  1.358367 -2.592844  2.679787 -1.128131 -1.706536
6329    7519  1.234235  3.019740 -4.304597  4.732795  3.624201 -1.357746
...      ...       ...       ...       ...       ...       ...       ...
46998  43028 -1.109646  0.811069 -1.138135  0.935265 -2.330248 -0.116106
47802  43369 -3.365319  2.426503 -3.752227  0.276017 -2.305870 -1.961578
48094  43494 -1.278138  0.716242 -1.143279  0.217805 -1.293890 -1.168952
50211  44393 -4.617461  3.663395 -5.297446  3.880960 -3.263551 -0.918547
50537  44532 -0.234922  0.355413  1.972183 -1.255593 -0.681387 -0.665732

             V7        V8        V9  ...       V21       V22       V23  \
541   -2.537387  1.391657 -2.770089  ...  0.517232 -0.035049 -0.465211
623    0.325574 -0.067794 -0.270953  ...  0.661696  0.435477  1.375966
4920   0.562320 -0.399147 -0.238253  ... -0.294166 -0.932391  0.172726
6108  -3.496197 -0.248778 -0.247768  ...  0.573574  0.176968 -0.436207
6329   1.713445 -0.496358 -1.282858  ... -0.379068 -0.704181 -0.656805
...         ...       ...       ...  ...       ...       ...       ...
46998 -1.621986  0.458028 -0.912189  ...  0.641594  0.841755  0.176728
47802 -3.029283 -1.674462  0.183961  ...  2.070008 -0.512626 -0.248502
48094 -2.564182  0.204532 -1.611155  ...  0.490183  0.470427 -0.126261
50211 -5.715262  0.831040 -2.457034  ...  2.698175 -0.027081  0.366775
50537  0.059110 -0.003153  1.122451  ...  0.220670  0.912107 -0.286338

            V24       V25       V26       V27       V28  Amount  Class
541    0.320198  0.044519  0.177840  0.261145 -0.143276    0.00    1.0
623   -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00    1.0
4920  -0.087330 -0.156114 -0.542628  0.039566 -0.153029  239.93    1.0
6108  -0.053502  0.252405 -0.657488 -0.827136  0.849573   59.00    1.0
6329  -1.632653  1.488901  0.566797 -0.010016  0.146793    1.00    1.0
...         ...       ...       ...       ...       ...     ...    ...
46998  0.081004 -0.258899  0.707654  0.418649  0.080756  204.27    1.0
47802  0.126550  0.104166 -1.055997 -1.200165 -1.012066   88.00    1.0
48094 -0.126644 -0.661908 -0.349793  0.454851  0.137843   24.90    1.0
50211 -0.123011 -0.300457 -0.239996 -0.183463 -0.073360    1.00    1.0
50537  0.451208  0.188315 -0.531846  0.123185  0.039581    1.00    1.0

[150 rows x 31 columns]

In [14]:
# Concatenate the two DataFrames

new_dataset = pd.concat([legit_sample,fraud], axis = 0)

In [15]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
33737,37364,-0.999682,1.538412,0.509502,-0.485314,0.540350,-0.050640,0.552809,0.174917,-0.013572,...,-0.379383,-0.851784,-0.135866,-0.898324,0.124983,0.140200,0.549266,0.281379,5.36,0.0
47915,43414,1.369717,-1.157116,0.611116,-1.171388,-1.609425,-0.535265,-0.953140,-0.108700,-1.898929,...,-0.284316,-0.345213,0.016170,0.543702,0.402550,-0.279626,0.034148,0.018666,50.56,0.0
12938,22731,-9.260584,7.452729,-13.748652,5.940094,-8.174739,-3.648539,-10.960261,6.456649,-3.096200,...,1.536311,-0.740592,-0.239052,0.004600,0.449751,-0.286287,1.907938,0.604519,89.99,0.0
31657,36454,0.955576,-0.308161,1.188044,1.475890,-0.860503,0.327066,-0.536871,0.219292,0.824802,...,0.010574,0.086572,-0.039623,0.085425,0.304783,-0.371776,0.072390,0.048434,87.00,0.0
4726,4158,-0.959084,1.504439,1.180137,1.034805,-0.002799,-0.486044,0.384451,-0.207589,1.150690,...,-0.426137,-0.834602,0.085391,-0.085383,-0.398492,0.279005,0.059574,0.255594,11.46,0.0

In [16]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
46998,43028,-1.109646,0.811069,-1.138135,0.935265,-2.330248,-0.116106,-1.621986,0.458028,-0.912189,...,0.641594,0.841755,0.176728,0.081004,-0.258899,0.707654,0.418649,0.080756,204.27,1.0
47802,43369,-3.365319,2.426503,-3.752227,0.276017,-2.305870,-1.961578,-3.029283,-1.674462,0.183961,...,2.070008,-0.512626,-0.248502,0.126550,0.104166,-1.055997,-1.200165,-1.012066,88.00,1.0
48094,43494,-1.278138,0.716242,-1.143279,0.217805,-1.293890,-1.168952,-2.564182,0.204532,-1.611155,...,0.490183,0.470427,-0.126261,-0.126644,-0.661908,-0.349793,0.454851,0.137843,24.90,1.0
50211,44393,-4.617461,3.663395,-5.297446,3.880960,-3.263551,-0.918547,-5.715262,0.831040,-2.457034,...,2.698175,-0.027081,0.366775,-0.123011,-0.300457,-0.239996,-0.183463,-0.073360,1.00,1.0
50537,44532,-0.234922,0.355413,1.972183,-1.255593,-0.681387,-0.665732,0.059110,-0.003153,1.122451,...,0.220670,0.912107,-0.286338,0.451208,0.188315,-0.531846,0.123185,0.039581,1.00,1.0

In [17]:
new_dataset['Class'].value_counts()

0.0    150
1.0    150
Name: Class, dtype: int64

Now we have evenly distributed dataset for the two class and when you give these dataset for your prediction using machine learning we will get better results.

This is how you can random the imbalanced datasetin python.