<a href="https://colab.research.google.com/github/SyedImranML/Machine-Learning/blob/main/Module_4_Data_collection_%26_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Data Collection:
1. Kaggle
2. UCI Machine Learning Repository
3. Google Dataset Search

In [2]:
import pandas as pd

In [3]:
# loading a dataset to a pandas dataframe

dataset = pd.read_csv('/content/housing.csv')

In [4]:
dataset.head()

   0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00
0   0.02731   0.00   7.070  0  0.4690  6.4210  78...
1   0.02729   0.00   7.070  0  0.4690  7.1850  61...
2   0.03237   0.00   2.180  0  0.4580  6.9980  45...
3   0.06905   0.00   2.180  0  0.4580  7.1470  54...
4   0.02985   0.00   2.180  0  0.4580  6.4300  58...

In [5]:
# loading a dataset to a pandas dataframe

iris = pd.read_csv('/content/iris.csv')

In [6]:
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa