Tv     |  Sales     | City
---------------------------
1       |  Sales     | Delhi

2       |  Sales     | Mumbai

3       |  Sales     | Delhi

if i run machine learning will it work or not (not)

computer only understand - numbers ?
computer will not have intelligence of its own we make it

for this we do two things 
1. Get_dummies
2. Label Encoding

##### GET_DUMMIES

In case of Get_dummies 3 new columns get create

D_city   |    M_city     | H_city 

-------------------------------------
1           |    0              |   0

0           |    1              |   0

0           |    0              |   1

In [21]:
# Import required libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [22]:
import pandas as pd

data = {
    'city': ['Delhi', 'Mumbai', 'Delhi', 'Mumbai', 'Pune','Chennai']
}

In [23]:
df = pd.DataFrame(data)
df.head()

     city
0   Delhi
1  Mumbai
2   Delhi
3  Mumbai
4    Pune

In [24]:
# one-Hot Encoding using pd.get_dummies()

df_dummies = pd.get_dummies(df, columns = ['city'])
print("\nDataFrame after One-Hot Encoding:")
df_dummies

DataFrame after One-Hot Encoding:

   city_Chennai  city_Delhi  city_Mumbai  city_Pune
0             0           1            0          0
1             0           0            1          0
2             0           1            0          0
3             0           0            1          0
4             0           0            0          1
5             1           0            0          0

In [25]:
# one-Hot Encoding using pd.get_dummies()

df_dummies = pd.get_dummies(df, columns = ['city'],drop_first=True)
print("\nDataFrame after One-Hot Encoding:")
df_dummies

DataFrame after One-Hot Encoding:

   city_Delhi  city_Mumbai  city_Pune
0           1            0          0
1           0            1          0
2           1            0          0
3           0            1          0
4           0            0          1
5           0            0          0

In [15]:
# Label Encoding using LabelEncoder

le = LabelEncoder()
df['city_encoded'] =le.fit_transform(df['city'])
print("\n DataFrame after Label Encoding :")
print(df)

 DataFrame after Label Encoding :
     city  city_encoded
0   Delhi             0
1  Mumbai             1
2   Delhi             0
3  Mumbai             1
4    Pune             2